<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
	<context id="sync4j" targetRuntime="MyBatis3">
		<jdbcConnection driverClass="com.mysql.jdbc.Driver"
			connectionURL="${sampleDbUrl}" userId="${sampleDbUser}" password="${sampleDbPassword}">
		</jdbcConnection>

		<javaTypeResolver>
			<property name="forceBigDecimals" value="false" />
		</javaTypeResolver>

		<javaModelGenerator targetPackage="${mybatisGeneratorTargetPackage}"
			targetProject="./src/mybatis-generated/java">
			<property name="enableSubPackages" value="true" />
			<property name="trimStrings" value="true" />
		</javaModelGenerator>

		<sqlMapGenerator targetPackage="${mybatisGeneratorTargetPackage}"
			targetProject="./src/mybatis-generated/resources">
			<property name="enableSubPackages" value="true" />
		</sqlMapGenerator>

		<javaClientGenerator type="XMLMAPPER"
			targetPackage="${mybatisGeneratorTargetPackage}" targetProject="./src/mybatis-generated/java">
			<property name="enableSubPackages" value="true" />
		</javaClientGenerator>

		<!-- add tables settings here: -->
		<!-- an example from im-service-persist <table tableName="t_im_msg" domainObjectName="TaImMessage"> 
			</table> -->
		<table tableName="demo_users"></table>
	</context>
</generatorConfiguration>